.head{
    height: 100vh;
}

.topd{
    padding-top: 40vh;
    font-size: 5vw;
}

main{
    background: url(elrufai.jpeg) no-repeat center;
    height: 80vh;
    background-color: aliceblue;
}

abbr{
    color: #ffe4c4;
}
